# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Firebase / Secrets
.firebase/
firebase-debug.log
firebase.json
.env
.env.*

# IDEs
.idea/
.vscode/
*.iml

# OS Specific
.DS_Store
Thumbs.db

# Web build
web/manifest.json
web/favicon.png
web/icons/

# Linux/macOS/Windows build
linux/
macos/
windows/

# Misc
*.lock
*.log
*.tmp
*.env
